body {
  font-family: "Roboto", sans-serif;
  font-size: 140%;

}
.menu-item {
  display: inline-block;
  position: relative;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #009136; /* Set background color to black */
  color: white; /* Set font color to white */
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(110, 110, 110, 0.2);
  z-index: 1;
  width: 120px; /* Set the width of the dropdown */
  height: 60px;

}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  margin-left:23%;
  margin-top: 0%;
  
}
.menu-item-services {
  display: inline-block;
  position: relative;
  
}

.dropdown-content-services {
  display: none;
  position: absolute;
  background-color: #009136; /* Set background color to black */
  color: white; /* Set font color to white */
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(110, 110, 110, 0.2);
  z-index: 1;
  width: 120px; /* Set the width of the dropdown */
  height: 30px;

}

.dropdown-services:hover .dropdown-content-services {
  display: flex;
  flex-direction: column;
  margin-left:30%;
  margin-top: 0%;
  
}
.navbar{
  display: flex;
  text-decoration: none;
  width: 100%;
  margin-top: -4%;
}
.materiels{
  text-decoration: none;
  color: #009136;

}
.logiciels{
  text-decoration: none;
  color: #009136;
  margin-top: 10px;
}
.logo{
  width: 80%;
  height: 80%;
  margin-left: 5%;
  margin-top: 15%;
}
.menu{
  display: flex;
  margin-top: 10%;
  margin-left: 5%;
}
.menuElements{
  margin-left:40px;
  text-decoration: none;
  color: #009136;
  font-weight: bold;
}
.menuElements:hover{
  color: #00240d;
  height: 5px;

}
.hrHomeBody{
  border-color: #009136;
  background-color: #009136;
  width:100%;
  height: 3px;
  margin-top: 3%;

}
.homeBodyMain{
  margin-top: 0%;
  width: 100%;
  height: 600px;
  

}
.backgroundImg{
  margin-top: 0%;
  width: 100%;
  border-radius: 5px;
}
.dropDownItem{
  color: white;
}
.productCardsDiv{
  display: flex;
  color: #000000;
  background-color: #009136;

}
.productCards {
  width: 30%;
  height: 800px;
  background-color: rgb(253, 255, 254);
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;

}

  


.productCards img{
width: 350px;
height:350px;
border-radius: 10px;
}
.productCards p{
 padding: 3%;
  
  }
.productCards h1{
  font-weight: lighter;
  color: #009136;
  font-size: 150%;
  margin-top: 10%;
  font-family: 'Roboto' sans-serif;
}
.footerDiv{
  background-color: #009136;
  margin-top: 17%;
  height: 150px;
  display: flex;
  justify-content:left ;

}
.footerLinksFlex{

  display: flex;
  flex-direction: column;
  padding: 2%;
}
.nousContacterFooter {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  transition: box-shadow 0.3s; /* Add a transition for smooth effect */
}
.nousContacterFooter:hover {
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow on hover */
  color: #000000;
}
.facebookIC{
color: #009136;
font-size: 200%;
margin-top: 5%;
  
}
.facebookICfooter{
  color: #ffffff;
  font-size: 200%;
  margin-top: 5%;
    
  }
.accueil{
  text-decoration: none;
  color: #009136;
  font-weight: bold;
}
.contactMainDiv{
  margin-top: 5%;
  margin-left: 15%;
  border-radius: 10px;
  width: 70%;
  height: 300px;
  display: flex;
  margin-left: 15%;



}
.contactMainDiv h1{
 color: #009136;
}
.iconAndTextdiv{
  display: flex;
  
}
.contacticon{
  margin-top: 7%;
 margin-right: 2%;
}
.googleMapMain{
  margin-left: 50%;
}
.textContactDiv{
  display: flex;
  flex-direction: column;
}
.productCardsButton{
  background-color: #e42727;
  color: white;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  margin-top: 1%;
  font-size: 90%;
  font-weight: lighter;
  padding: 8px;
}
.productCardsButton2{
  margin-top: 50%;
}
.notreMatInfoh1{
  background-color: #009136;
  border-radius: 10px;
  padding: 8px;
  width: 30%;
  justify-content: center;
  

}
.materialBodyMain{
  width: 100%;
  margin-top: 5%;
  
}
.materialBodyMain div{
  display: flex;
  
}
.reactDivMaterial{
  display: flex;
  justify-content: center;
  margin-bottom: -15%;
}
.notreMatInfoh1{
  font-weight: bold;
  font-size: 150%;
  color: white;
  display: flex;
  width: 25%;
}
.materialCard{
  border-radius: 5px;
  width: 30%;
  height:400px;
  color: #009136;
  font-weight: lighter;
  font-size: 70%;
  margin: 0.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.materialCard h1{
  margin-left: 2%;
  text-decoration: none;
}
.materialCard div{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.materialCard div img{
  height: 200px;
  
}
.materialCardDiv{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-top: 2%;
  text-decoration: none;
}
.materialCard p{
  width: 100%;
  font-weight: bold;
  color: black;
  margin-left: 15%;
  text-decoration: none;
  margin-left: -15%;
}
.materialCardPrice{
  font-weight: lighter;
  width: 100%;
  color: white;
  text-decoration: none;
}
.materialCardPrice p{
  color: white;
  padding: 6px;
  width: 70%;
  text-decoration: none;
  margin-right: 30%;
}
.materialCardPrice span{
  color: rgb(0, 0, 0);
  padding: 5px;
  width: 10%;
  font-weight: bold;
  text-decoration: none;
}
.LimitedOfferP{
  background-color: rgb(190, 30, 30);
  border-radius: 5px;
}

.EconomisezP{
  background-color: #009136;
  border-radius: 5px;
}
.materielMainDiv{
 display: flex;
 flex-direction: column;
 align-items: center;
}
.link-no-underline {
  text-decoration: none;
}
.phoneBodyMain{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.téléphonieH2{
  color: #009136;
}
.phoneBodyMain video{
 width: 97.5%;
 border-radius: 5px;
margin-bottom: 1%;

}
.téléphoniePDF{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: -15%;
  margin-left: 0.8%;
}
.reactDivMaterial2{
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 20%;
  border-radius: 5px;
  margin-bottom: -10%;

}
.reactDivMaterial2 h2{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 12%;
}
.Matérieldiv{
  color: #009136;
  font: 150%;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-top: 1%;
  border-radius: 5px;
  border: solid rgb(197, 197, 197);
  margin-left: -15%;
  width: 50%;
  padding: 1%;
}
.Matérieldiv img{
 margin-right: 2%;
  
  
}

.pcIMG{
  width: 200px;
  height: 200px;
  margin-left: 2%;
}
.serverImg{
  width: 200px;
  height: 200px;
  margin-left: 2%;
}
.tabSPImg{
  width: 200px;
  height: 200px;
  margin-left: 2%;
}
.cameraIMG{
  width: 200px;
  height: 200px;
  margin-left: 2%;
}
.accEtPeriph{
  width: 200px;
  height: 200px;
  margin-left: 2%;
}
.MatérieldivTxt{
  display: flex;
  flex-direction: column;
  margin-left: -15%;
  color: #009136;
  font-weight: bold;
}
.office{
  width: 50px;
  height: 50px;

}
.officeTxt{
  color: rgb(219, 77, 11);
}
.pWithOfficeLogo{
  display: flex;
  margin-right: 5px;
}
.officeDiv{
  display: flex;
  margin-top: -1.4%;
  margin-left: 5px;
}
.microsoftLogo{
  width: 50px;
  height: 50px;
  margin-right: 5px;
}
.microsoftDiv{
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -1.4%;
}
.microsoftDiv2{
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
}
.pWithMicrosoftLogo{
  display: flex;


}
.microsoftTxt{
  color: rgb(75, 75, 75);
  margin-right: 6px;
}
.Azure{
  width: 70px;
  height: 50px;
}
.azureTxt{
  color: rgb(17, 112, 253);
}
.azureSpan{
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
}
.microsoftAndAzureDiv{
  display: flex;
}
.sophosPandaDiv{
  display: flex;
  flex-direction: row;

}

.sophosTxt{
  color: rgb(15, 116, 248);
  margin-right: 5px;
}
.pandaTxt{
  color: rgb(26, 91, 177);
  margin-left: -10px;
}
.sophosImg{
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
}
.pandaImg{
  width: 80px;
  height: 50px;
}
.sophosDiv{
  display: flex;
  margin-top: -1.4%;

}
.pandaDiv{
  display: flex;
  margin-top: -1.4%;
}
.sophosPandaDiv{
  display: flex;
}
.aboutMainDiv{
  height: 600px;
  margin-bottom: -15%;
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-top: 1%;
}
.aboutP{
  color: #009136;
  color: #707070;
  font-size: 120%;
}